@font-face {
  font-family: "RobotoSlab_Black";
  src: url('fonts/RobotoSlab-Black.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoSlab_Bold";
  src: url('fonts/RobotoSlab-Bold.ttf') format('truetype');
}

@font-face {
  font-family: "RobotoSlab_Regular";
  src: url('fonts/RobotoSlab-Regular.ttf') format('truetype');
}

/* Lodrina */
@font-face {
  font-family: "Lodrina_Black";
  src: url('fonts/Londrina/LondrinaSolid-Black.ttf') format('truetype');
}

@font-face {
  font-family: "Lodrina_Regular";
  src: url('Fonts/Londrina/LondrinaSolid-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Lodrina_Light";
  src: url('Fonts/Londrina/LondrinaSolid-Light.ttf') format('truetype');
}