/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  /* overflow-y: scroll; Keeps the layout stable */
  scrollbar-width: none; /* For Firefox */
}

html::-webkit-scrollbar {
  display: none; /* For Chrome, Safari, and Opera */
}

.page-container{
  display: flex;
  justify-content: stretch; /* Horizontally center the content */
  align-items: center; /* Vertically center the content */
  min-height: 100%; /* Use 100vh for full viewport height */
  width: 100vw; /* Use 100vw for full viewport width */
}
