#projectTitle
{
  /* font-family:'Lodrina_Black'; */
  font-family:'RobotoSlab_Black';
  /* color: brown; */
  letter-spacing: 4px;
  font-size: 40px;
  text-align: center;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#overlay.active {
  display: block;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideOutFromRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#overlay.inactive {
  animation: slideOutFromRight 0.5s ease-out forwards;
}