.middle-gray{
  background-color: #282828;
}

.platform-icon{
  width: 25%;
  height:  25%;
  text-align: center;
  vertical-align: middle;
}

.platform-name{
  margin-left: 5%;
  margin-right: 5%;
}

.imageContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.image-margin-down{
  margin-bottom: 2%;
}

.project-table{
  width: 80%;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
  table-layout: fixed;
  padding-top: 5%;
}

.videoContainer {
  width: 80%; /*now it is 100% of viewport (window) width.*/
  display: inline-block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 5%;
}

.videoContainer::after {
  padding-top: 56.25%; /* 16:9 ratio - divide height by width and multiply by 100 */
  display: block;
  content: '';
}

.videoContainer>iframe{
  display:block;
  width:100%;
  height:100%;
  position:absolute;
}

.video-webm{
  width: 100%;
  margin-top: 5%;
  transform-origin: center;
  transform: translateY(20%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.video-webm.loaded{
  transform: translateY(0);
  opacity: 1;
}

.overlay-image{
  width: 100%;
  transform: translateY(20%);
  opacity: 0;
  transition: all 0.5s ease-out;
}

.overlay-image.loaded{
  transform: translateY(0);
  opacity: 1;
}

/* Text*/
.title{
  font-family:'Lodrina_Black';
  letter-spacing: 4px;
  font-size: 80px;
  text-align: center;
  margin: 0;
  padding-top: 5vh;
}

.panelSmallTitle{
  text-align: justify;
  text-align-last: center;

  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;

  font-family: 'Lodrina_Regular';
  font-size: 45px;
}

.panel-paragraph{
  text-align: justify;
  text-align-last: left;
  margin: 0;
  padding-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
  line-height: 1.5;
  font-family: 'Lodrina_Light';
  font-size: 1.5rem;
  letter-spacing: 4px;
}


@keyframes slideInFromLeft {
  from {
    display: block;
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#overlay.active {
  display: block;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideOutFromRight {
  from {
    transform: translateX(0);
  }
  to {
    display: none;
    transform: translateX(-100%);
  }
}

#overlay.inactive {
  display: none;
  animation: slideOutFromRight 0.5s ease-out forwards;
}

.imagesGrid{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 8%;
  gap: 10px;
}

.imagesGrid img{
  width:100%;
  height: auto;
}

/* used only for the space wars editor section
 */
.images-grid{
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 3%;
  margin-bottom: 8%;
  gap: 10px;
}

.images-grid img{
   width:100%;
   height: auto;
 }

.bulletPoint{
  margin-bottom: 2%;
}

.video-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.responsive-video {
  height: 100%;
  width: 100%;
}

/*Table*/
.table-head{
  padding: 2%;
  text-align: left;
  font-family:'Lodrina_Black';
  font-size: 30px;
  letter-spacing: 2px;
}

.table-item
{
    padding: 2%;
    text-align: left;
    font-family:'Lodrina_Black';
    font-size: 25px;
    letter-spacing: 3px;
}

.table-item .platform-icon{
  width: 25%;
  height:  25%;
  text-align: center;
  vertical-align: middle;
}

.imageContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.platform-name{
  margin-left: 5%;
  margin-right: 5%;
}

.middle-icon-container{
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.middle-icon{
  width: 10%;
  height: auto;
}

.link-text{
  margin-top: -1%;
  margin-bottom: 3%;
  text-align: justify;
  text-align-last: left;
  color: white;
  font-family: 'Lodrina_Light';
  overflow: auto;
  font-size: 300%;
  text-decoration: underline;
  text-decoration-color: white;
}

#blur-backgroud{
  width: 100%;
  height: 100%;
  overflow: auto;
  position: fixed;
  z-index: 2;
  pointer-events: none;
}

@keyframes show {
  from {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
  to {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
}

#blur-backgroud.active {
  animation: show 0.5s ease-out forwards;
}

@keyframes hide {
  from {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
  }
  to {
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
  }
}

#blur-backgroud.inactive {
  animation: hide 0.5s ease-out forwards;
}

.transition-spacer{
  aspect-ratio: 900/250;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.project-panel-container{
  max-width: 1920px;
  pointer-events: auto;
}

.project-panel{
  position: absolute;
  top: 0;
  left: 10%;
  width: 80%;
  height: 100%;

  display: flex;
  align-content: space-around;
  justify-content: space-evenly;
  overflow: auto;
  z-index: 100;
  height: fit-content;
  pointer-events: none;
}

@keyframes slideInFromLeft {
  from {
    transform: translateX(-120%);
  }
  to {
    transform: translateX(0%);
  }
}

.project-panel.active {
  display: flex;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideOutFromRight {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-120%);
  }
}

.project-panel.inactive {
  animation: slideOutFromRight 0.5s ease-out forwards;
}