:root {
  --textcolor-tanklike: white;
  --mainColor-tanklike: #dd2221;
  --BGColor-tanklike: #171111;
}

#tanklikePanel {
}

.color-tanklike{
  color: var(--mainColor-tanklike);
}

.paragraph-tanklike{
  color: var(--textcolor-tanklike);
}

.table-head-tanklike
{
  border: 3px solid var(--mainColor-tanklike);
  color: var(--mainColor-tanklike);
}

.table-item-tanklike
{
  color: var(--textColor);
  border: 3px solid var(--mainColor-tanklike);
}

.tanklike-title-transition{
  background-image: url("Waves/Transition_TheWidow_01.svg");
}

.tanklike-content-transition{
  background-image: url("Waves/Transition_TheWidow_02.svg");
}

.tanklike-main-section{
  background-color: var(--BGColor-tanklike);
}