:root {
  --textColor: #b5c7b6;
  --mainColor-MeteoricWars: #59b3cf;
  --BGColor-metoericWars: #060a22;
}

#spacePanel {
}

.color-meteoric-wars{
  color: var(--mainColor-MeteoricWars);
}

.paragraph-Space{
  color: var(--textColor);
}

.table-head-meteoric-wars
{
  border: 3px solid var(--mainColor-MeteoricWars);
  color: var(--mainColor-MeteoricWars);
}

.table-item-meteoric-wars
{
  color: var(--textColor);
  border: 3px solid var(--mainColor-MeteoricWars);
}

.meteoric-wars-title-transition{
  background-image: url("Waves/Transition_MeteoricWars_01.svg");
}

.meteoric-wars-content-transition{
  background-image: url("Waves/Transition_MeteoricWars_02.svg");
}

.meteoric-wars-main-section{
  background-color: var(--BGColor-metoericWars);
}
