:root {
  --textColor-widow: white;
  --mainColor-widow: #dd2221;
  --BGColor-widow: #171111;
}

#widowPanel {
}

.color-widow{
  color: var(--mainColor-widow);
}

.paragraph-Widow{
  color: var(--textColor-widow);
}

.table-head-widow
{
  border: 3px solid var(--mainColor-widow);
  color: var(--mainColor-widow);
}

.table-item-widow
{
    color: var(--textColor-widow);
    border: 3px solid var(--mainColor-widow);
}

.the-widow-title-transition{
  background-image: url("Waves/Transition_TheWidow_01.svg");
}

.the-widow-content-transition{
  background-image: url("Waves/Transition_TheWidow_02.svg");
}

.the-widow-main-section{
  background-color: var(--BGColor-widow);
}