:root {
  --textColor-cubarun: white;
  --mainColor-cubarun: #21c7dd;
  --BGColor-cubarun: #060a22;
}

#cubarunPanel {
}

.color-cubarun{
  color: var(--mainColor-cubarun);
}

.paragraph-cubarun{
  color: var(--textColor-cubarun);
}

.table-head-cubarun
{
  border: 3px solid var(--mainColor-cubarun);
  color: var(--mainColor-cubarun);
}

.table-item-cubarun
{
  color: var(--textColor);
  border: 3px solid var(--mainColor-cubarun);
}

.cubarun-title-transition{
  background-image: url("Waves/Transition_MeteoricWars_01.svg");
}

.cubarun-content-transition{
  background-image: url("Waves/Transition_MeteoricWars_02.svg");
}

.cubarun-main-section{
  background-color: var(--BGColor-cubarun);
}