/* styles.css */
body, html {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100%;
  background-color: black;
}

.page-container{
  height: 100%;
  width: 100%;
}

/* .page-container {
  width: 177.78vmin; 
  height: 100vmin; 
  max-width: 3840px;
  max-height: 2160px;
  background-color: white; 
  position: relative;
  margin: auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* //////////INFO PANEL OVERLAY////////////// */
