
#widowPanel {
  display: block;
  background-color: #171111;
  padding: 20px;
  z-index: 100;
  height: fit-content;
}

#widowTitle{
  color: #dd2221;
  font-family:'Lodrina_Black';
  letter-spacing: 4px;
  font-size: 80px;
  text-align: center;
}
.panelParagraphWidow{
  color: #dd2221;
  letter-spacing: 4px;
}

.widowIntroduction{
}


/* //////////INFO PANEL OVERLAY////////////// */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#widowPanel.active {
  display: block;
  animation: slideInFromLeft 0.5s ease-out forwards;
}

@keyframes slideOutFromRight {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

#widowPanel.inactive {
  animation: slideOutFromRight 0.5s ease-out forwards;
}

.WidowImage{
  margin-bottom: 2%;

}

/* Table */
.WidowTable{
width: 80%;
border-collapse: collapse;
margin-left: auto;
margin-right: auto;
table-layout: fixed;
}

.WidowTableHead
{
    border: 3px solid #dd2221;
    padding: 2%;
    text-align: left;
    font-family:'Lodrina_Black';
    color: #dd2221;
    font-size: 30px;
    letter-spacing: 2px;
}

.WidowTableItem
{
    border: 3px solid #dd2221;
    padding: 2%;
    text-align: left;
    font-family:'Lodrina_Black';
    color: white;
    font-size: 25px;
    letter-spacing: 3px;
}

.WidowTableItem .PlatformIcon{
  width: 25%;
  height:  25%;
  text-align: center;
  vertical-align: middle;
}

.imageContainer {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%; 
}

.PlatformIconName{
  margin-left: 5%;
  margin-right: 5%;
}
